body {
  background: #f4f4f4;
}

#main-menu {
  text-align: center;
}

button {
  width: 80%;
  padding: 5%;
  margin: 2% auto;
  color: #3ec2da;
  display: block;
  background: #fff;
  border: none;
  clear: both;
  border-radius: 5px;
}

.debug {
  display: block;
}
