﻿body {
  background: #f4f4f4;
}

#main-menu {
  text-align: center;
}

.map-wrap {
  height: 90%;
}

.nav-bar {
  background: fff;
  height: 10%;
}

.nav-bar button {
  background: #3ec2da;
  border: none;
  clear: both;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
}

.error {
  text-align: center;
  width: 80%;
  padding: 2%;
  margin: 2% auto;
  background: #e74c3c;
  color: #fff;
  border-radius: 5px;
}

#main-menu button {
  width: 80%;
  padding: 5%;
  margin: 2% auto;
  color: #fff;
  display: block;
  background: #3ec2da;
  border: none;
  clear: both;
  border-radius: 5px;
}

#main-menu button.needle {
  background: #f59a0b;
  color: #fff;
}

#main-menu button.success {
  background: #92cc2e;
  color: #fff;
}

.debug {
  display: block;
}
